.echo-c-icon {
  box-sizing: border-box;
  display: block;
  fill: var(--echo-icon-fill, currentColor);

  /* Prevent icons from shrinking in flex layouts */
  flex-shrink: 0;
}

.echo-c-icon--focusable:hover {
  --echo-icon-fill: var(--echo-color-icon-brand-primary-base);
}

[tabindex]:focus-visible .echo-c-icon--focusable,
[tabindex]:focus-visible .echo-c-icon--focusable[tabindex] {
  --echo-icon-fill: var(--echo-color-icon-brand-primary-base);
}

.echo-c-icon-look--default {
  --echo-icon-fill: var(--echo-color-icon-neutral-base);
}

.echo-c-icon-look--gold {
  --echo-icon-fill: var(--echo-color-icon-special-gold);
}

.echo-c-icon-look--info {
  --echo-icon-fill: var(--echo-color-icon-semantic-info);
}

.echo-c-icon-look--warning {
  --echo-icon-fill: var(--echo-color-icon-semantic-warning);
}

.echo-c-icon-look--success {
  --echo-icon-fill: var(--echo-color-icon-semantic-success);
}

.echo-c-icon-look--inverted {
  --echo-icon-fill: var(--echo-color-icon-neutral-inverted);
}

.echo-c-icon-look--muted {
  --echo-icon-fill: var(--echo-color-icon-neutral-muted);
}

.echo-c-icon-look--primary {
  --echo-icon-fill: var(--echo-color-icon-brand-primary-base);
}

.echo-c-icon-look--attention {
  --echo-icon-fill: var(--echo-color-icon-semantic-attention);
}

.echo-c-icon-look--current-color {
  --echo-icon-fill: currentColor;
}
