:root {
  --color-kumo-1: light-dark(oklch(87% 0 0 / 0.1), oklch(87% 0 0 / 0.1));
  --color-kumo-2: light-dark(oklch(0.985 0 0), oklch(0.985 0 0));
  --color-kumo-3: light-dark(oklch(14.5% 0 0), oklch(14.5% 0 0));
  --color-kumo-4: light-dark(oklch(20.5% 0 0), oklch(97% 0 0));
  --color-kumo-5: light-dark(oklch(26.9% 0 0), oklch(26.9% 0 0));
  --color-kumo-6: light-dark(oklch(26.9% 0 0), oklch(92.2% 0 0));
  --color-kumo-7: light-dark(oklch(37.1% 0 0), oklch(37.1% 0 0));
  --color-kumo-8: light-dark(oklch(37.1% 0 0), oklch(87% 0 0));
  --color-kumo-9: light-dark(oklch(43.9% 0 0), oklch(70.8% 0 0));
  --color-kumo-10: light-dark(oklch(55.6% 0 0), oklch(55.6% 0 0));
  --color-kumo-11: light-dark(oklch(87% 0 0 / 0.85), oklch(37.1% 0 0 / 0.85));
  --color-kumo-12: light-dark(oklch(87% 0 0), oklch(87% 0 0));
  --color-kumo-13: light-dark(oklch(87% 0 0), oklch(37.1% 0 0));
  --color-kumo-14: light-dark(oklch(92.2% 0 0), oklch(92.2% 0 0));
  --color-kumo-15: light-dark(oklch(92.2% 0 0), oklch(26.9% 0 0));
  --color-kumo-16: light-dark(oklch(97% 0 0), oklch(20.5% 0 0));
  --color-kumo-17: light-dark(transparent, transparent);
}
